*, *:before, *:after {
    box-sizing: border-box;
}

a {
    color: #1772D0;
    text-decoration: none;
}

a:hover {
    color: #D0104C;
    text-decoration: underline;
}

body {
    font-family: system-ui, segoe ui, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0
}

/******************** header ********************/

.header {
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    background-color: #F5F5F5;
    transition: 0.3s;
    font-size: 20px;
}

.navigation-bar {
    max-width: 1040px;
    margin: 0 auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navigation-bar a {
    text-decoration: none;
    color: #212121;
    padding: 10px 0;
}

.my-name {
    font-weight: bold;
}

.link-collection ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}

.link-collection li {
    padding: 0 20px;
    white-space: nowrap;
}

.link-collection li:last-child {
    padding: 0 0 0 20px;
    white-space: nowrap;
}

.link-collection li a:hover {
    border-bottom: 3px solid #D0104C;
    color: #D0104C;
}

@media only screen and (max-width: 860px) {
    .link-collection {
        display: none;
    }
}

/* mobile menu button */
.mobile-menu-button {
    cursor: pointer;
}

@media screen and (min-width: 861px) {
    .mobile-menu-button {
        display: none;
    }

    .mobile-overlay {
        opacity: 0;
        height: 0;
    }
}

.menu-button > div {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 5px 0;
    transition: 0.3s;
    transform-origin: 0 50%;
}

.on-click-menu-button > div {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 7px 0;
    transition: 0.3s;
    transform-origin: 0 50%;
}

.on-click-menu-button > div:first-child {
    transform: rotate(45deg);
    background-color: #D0104C;
}

.on-click-menu-button > div:nth-child(2) {
    opacity: 0;
    background-color: #D0104C;
}

.on-click-menu-button > div:nth-child(3) {
    transform: rotate(-45deg);
    background-color: #D0104C;
}

/* mobile menu list */
.mobile-overlay {
    height: 0;
    position: fixed;
    z-index: 1;
    margin-top: 70px;
    right: 20px;
    opacity: 0;
    top: 0;
    background-color: #F5F5F5;
    box-shadow: rgba(0, 0, 0, 0.10) -1px 1px 4px, rgba(0, 0, 0, 0.1) 1px 1px 4px;
    transition: 0.3s;
    overflow-y: hidden;
}

.mobile-overlay-list {
    font-size: 20px;
}

.mobile-overlay-list a {
    text-decoration: none;
    color: #212121;
    display: block;
    padding: 0 24px;
}

.mobile-overlay-list a:hover {
    color: #D0104C;
}

.mobile-overlay-list ul {
    margin: 0;
    padding: 5px;
}

.mobile-overlay-list li {
    display: block;
    border-bottom: 2px solid #E0E0E0;
    padding: 16px 0;
}

.mobile-overlay-list li:last-child {
    border-bottom: none;
}

/******************** bio and profile ********************/

#pc-bio-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

#pc-bio-profile .bio {
    display: flex;
    flex-direction: column;
    height: 185px;
    justify-content: space-between;
}

#pc-bio-profile .profile {
    display: flex;
    max-width: 185px;
    margin: 0 0 0 60px;
    align-items: center;
    justify-content: space-around;
}

.profile img {
    width: 100%;
    border: 2px solid #FCFAF2;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 650px) {
    #pc-bio-profile .bio {
        width: 100%;
        height: auto;
    }

    #pc-bio-profile .bio > div:first-child {
        margin-top: 15px;
    }

    #pc-bio-profile .bio > div {
        margin: 10px 0;
    }

    #pc-bio-profile .profile {
        display: none
    }

    #pc-bio-profile {
        margin-bottom: 0;
    }
}

.mobile-profile {
    margin: 0 auto 20px;
    text-align: center;
    background: linear-gradient(135deg, #ebebeb55 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #ebebeb 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #ebebeb55 25%, transparent 25%) 0 0/ 20px 20px, linear-gradient(45deg, #ebebeb 25%, #ffffff 25%) 0 0/ 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-profile img {
    max-width: 204px;
    width: 100%;
    vertical-align: middle;
}

/* float button at the most leftside */
.mobile-profile .profile-left-button {
    display: inline-block;
    padding: 40px 5px 40px 0;
    cursor: pointer;
}

.mobile-profile .profile-right-button {
    display: inline-block;
    padding: 40px 0 40px 5px;
    cursor: pointer;
}

@media screen and (min-width: 651px) {
    .mobile-profile {
        display: none;
    }
}

.button-links {
    font-size: 13px;
    padding: 0 4px;
    border: 1px solid;
    border-radius: 4px;
}

.button-links:hover {
    color: #FFFFFF;
    background-color: #D0104C;
    border-color: #D0104C;
    text-decoration: none;
}

/******************** heading block ********************/

.layout-level-1 {
    width: 100%;
    max-width: 860px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 108px
}

.layout-level-2 {
    padding: 10px 20px;
}

.heading {
    font-size: 24px;
    border-bottom: 1px solid #F2F2F2;
    padding: 8px 0;
}

.small-gray {
    color: #91989F;
    font-size: 12px;
}

.paper-entry {
    margin-top: 40px;
}

.bio-list .paper-entry:first-child,
.publications-list .paper-entry:first-child,
.writings-list .paper-entry:first-child,
.awards-list .paper-entry:first-child,
.archives-list .paper-entry:first-child {
    margin-top: 20px;
}

.paper-title {
    font-size: 16px;
    font-weight: 700
}

.highlight-entry {
    background-color: #FCFAF2;
}

#category-more-bio ul li,
#category-awards ul li {
    margin-bottom: 16px;
}

/******************** footer ********************/

#footer {
    background-color: #F5F5F5;
    margin-top: 40px;
}

#footer .split-line {
    max-width: 100%;
    margin: auto;
    border: 0;
    padding: 1px;
    background: repeating-linear-gradient(to right, lightgrey 0, lightgrey 3px, transparent 0, transparent 12px);
}

.footer-box {
    width: 1040px;
    max-width: 100%;
    margin: auto;
    padding: 10px 0 20px;
    font-size: 12px;
    color: dimgrey;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-left {
    max-width: 30%;
    margin-left: 20px;
}

.footer-right {
    text-align: right;
    max-width: 45%;
    margin-right: 20px;
}

/******************** mobile layout ********************/

@media screen and (max-width: 450px) {
    .layout-level-2 {
        padding: 10px 15px;
    }

    .header, #footer, .layout-level-1 {
        min-width: 350px;
    }

    .footer-left {
        margin-left: 15px;
    }

    .footer-right {
        margin-right: 15px;
    }

    .navigation-bar {
        padding: 0 15px;
    }

    .mobile-overlay {
        right: 15px;
    }
}


/******************** icon font ********************/
@font-face {
    font-family: "iconfont"; /* Project id  */
    src: url('iconfont.ttf?t=1728134084433') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 32px;
    color: #BDC0BA;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-you:before {
    content: "\e50f";
}

.icon-zuo:before {
    content: "\e510";
}
