*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: #1772D0;
  text-decoration: none;
}

a.link-no-color {
  color: inherit;
  text-decoration: none;
}

a:hover, a.link-no-color:hover {
  color: #D0104C;
  text-decoration: underline;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: system-ui, segoe ui, Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  margin: 0;
}

/******************** Header ********************/

.header {
  position: fixed;
  top: 0;
  transition: 0.3s;
  overflow: hidden;
  width: 100%;
  background-color: #F5F5F5;
  font-size: 20px;
  z-index: 1;
}

.navigation-bar {
  max-width: 1040px;
  margin: 0 auto;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navigation-bar a {
  text-decoration: none;
  color: #212121;
  padding: 10px 0;
}

.my-name {
  font-weight: bold;
  font-variant: small-caps;
}

.link-collection ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

.link-collection li {
  padding: 0 20px;
  white-space: nowrap;
}

.link-collection li:last-child {
  padding: 0 0 0 20px;
  white-space: nowrap;
}

.link-collection li a:hover {
  color: #D0104C;
  text-decoration: underline;
}

@media screen and (max-width: 860px) {
  .link-collection {
    display: none;
  }
}

/* Mobile menu button */
.mobile-menu-button {
  cursor: pointer;
}

@media screen and (min-width: 861px) {
  .mobile-menu-button {
    display: none;
  }

  .mobile-overlay {
    opacity: 0;
    height: 0;
  }
}

.menu-button > span {
  width: 25px;
  border-top: 2px solid black;
  margin: 5px 0;
  transition: 0.3s;
  transform-origin: 0 50%;
  display: block;
}

.on-click-menu-button > span {
  width: 25px;
  border-top: 2px solid black;
  margin: 7px 0;
  transition: 0.3s;
  transform-origin: 0 50%;
  display: block;
}

.on-click-menu-button > span:first-child {
  transform: rotate(45deg);
  border-top: 2px solid #D0104C;
}

.on-click-menu-button > span:nth-child(2) {
  opacity: 0;
  border-top: 2px solid #D0104C;
}

.on-click-menu-button > span:nth-child(3) {
  transform: rotate(-45deg);
  border-top: 2px solid #D0104C;
}

/* Mobile menu list */
.mobile-overlay {
  height: 0;
  position: fixed;
  z-index: 1;
  margin-top: 70px;
  right: 20px;
  opacity: 0;
  top: 0;
  background-color: #F5F5F5;
  box-shadow: rgba(0, 0, 0, 0.10) -1px 1px 4px, rgba(0, 0, 0, 0.1) 1px 1px 4px;
  border-radius: 5px;
  transition: 0.3s;
  overflow-y: hidden;
}

.mobile-overlay-list {
  font-size: 20px;
}

.mobile-overlay-list a {
  text-decoration: none;
  color: #212121;
  display: block;
  padding: 0 24px;
}

.mobile-overlay-list a:hover {
  color: #D0104C;
  text-decoration: underline;
}

.mobile-overlay-list ul {
  margin: 0;
  padding: 5px;
}

.mobile-overlay-list li {
  display: block;
  border-bottom: 2px solid #E0E0E0;
  padding: 16px 0;
}

.mobile-overlay-list li:last-child {
  border-bottom: none;
}

/******************** Bio and profile ********************/

#pc-bio-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

#pc-bio-profile .bio {
  display: flex;
  flex-direction: column;
  height: 185px;
  justify-content: space-between;
}

#pc-bio-profile .profile {
  position: relative;
  display: flex;
  max-width: 185px; /* Don't forget the inline width in HTML */
  margin: 0 0 0 60px;
  align-items: center;
  justify-content: space-around;
}

#pc-bio-profile .tag {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: #FFFFFF;
  padding: 5px 0 0 5px;
  border-top-left-radius: 50%;
}

#pc-bio-profile .tag-item {
  display: block;
  aspect-ratio: 1 / 1;
  border: 1px solid #1772D0;
  border-radius: 50%;
  padding: 2px 4px;
}

#pc-bio-profile .tag-item:hover {
  background-color: #D0104C;
  text-decoration: none;
}

#showing-profile {
  padding: 3px;
  border: 2px solid #F5F5F5;
  border-radius: 5px;
  cursor: pointer;
}

#pc-bio-profile .tag-item img {
  width: 30px;
  aspect-ratio: 1 / 1;
}

@media screen and (max-width: 650px) {
  #pc-bio-profile .bio {
    width: 100%;
    height: auto;
  }

  #pc-bio-profile .bio > div:first-child {
    margin-top: 15px;
  }

  #pc-bio-profile .bio > div {
    margin: 10px 0;
  }

  #pc-bio-profile .profile {
    display: none
  }

  #pc-bio-profile {
    margin-bottom: 0;
  }
}

.mobile-profile {
  margin: 0 auto 20px;
  text-align: center;
  background: linear-gradient(135deg, #ebebeb55 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #ebebeb 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #ebebeb55 25%, transparent 25%) 0 0/ 20px 20px, linear-gradient(45deg, #ebebeb 25%, #ffffff 25%) 0 0/ 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-profile .profile-item {
  position: relative;
  border: 3px solid #EBEBEB;
  border-radius: 2px;
}

.mobile-profile .tag {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #EBEBEB;
  padding: 6px 0 0 6px;
  border-top-left-radius: 50%;
}

.mobile-profile .tag-item {
  display: block;
  aspect-ratio: 1 / 1;
  border: 1px solid #1772D0;
  border-radius: 50%;
  padding: 4px;
}

.mobile-profile .tag-item:hover {
  background-color: #D0104C;
  text-decoration: none;
}

.mobile-profile img {
  max-width: 100%; /* Don't forget the inline width in HTML */
  border-radius: 2px;
  width: 100%;
  vertical-align: middle;
}

.mobile-profile .tag-item img {
  width: 35px;
}

.mobile-profile .profile-left-button, .mobile-profile .profile-right-button {
  display: inline-block;
  cursor: pointer;
}

@media screen and (min-width: 651px) {
  .mobile-profile {
    display: none;
  }
}

/******************** Text content ********************/

.button-links {
  font-size: 12px;
  padding: 0 4px;
  border: 1px solid;
  border-radius: 6px;
}

.button-links:hover {
  color: #FFFFFF;
  background-color: #D0104C;
  border-color: #D0104C;
  text-decoration: none;
}

.gray-name {
  color: #91989F;
}

.best-paper {
  font-style: italic;
  color: #49BF90;
}

.highlight-bg {
  background-color: #FFF4E5;
  border-radius: 8px;
}

/******************** Heading block ********************/

.layout-level-1 {
  width: 100%;
  max-width: 860px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 108px
}

@media screen and (max-width: 650px) {
  .layout-level-1 {
    margin-top: 90px;
  }
}

.layout-level-2 {
  padding: 10px 20px;
}

.heading {
  font-size: 24px;
  border-bottom: 2px solid #F5F5F5;
  padding: 8px 0;
}

.small-gray {
  color: #91989F;
  font-size: 12px;
}

.paper-entry {
  margin-top: 40px;
}

.bio-list .paper-entry:first-child,
.publications-list .paper-entry:first-child,
.archives-list .paper-entry:first-child {
  margin-top: 20px;
}

.paper-title {
  font-size: 16px;
}

#category-bio ul li {
  margin-bottom: 16px;
}

/******************** Footer ********************/

#footer {
  background-color: #F5F5F5;
  margin-top: 40px;
}

#footer .split-line {
  max-width: 100%;
  margin: auto;
  border: 0;
  padding: 1px;
  background: repeating-linear-gradient(to right, lightgrey 0, lightgrey 3px, transparent 0, transparent 8px);
}

.footer-box {
  width: 1040px;
  max-width: 100%;
  margin: auto;
  padding: 10px 0 20px;
  font-size: 12px;
  color: #91989F;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-left {
  max-width: 36%;
  margin-left: 20px;
}

.footer-right {
  text-align: right;
  max-width: 36%;
  margin-right: 20px;
}

/******************** Additional mobile layout ********************/

@media screen and (max-width: 450px) {
  .layout-level-2 {
    padding: 10px 15px;
  }

  .footer-box {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-left, .footer-right {
    max-width: 75%;
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
  }

  .footer-right {
    margin-top: 30px;
  }

  .navigation-bar {
    padding: 0 15px;
  }

  .mobile-overlay {
    right: 15px;
  }
}

@media screen and (max-width: 320px) {
  .header, .layout-level-1, #footer {
    width: 320px;
  }
}

/******************** Print styles ********************/

@media print {
  .header {
    display: none;
  }

  .layout-level-1 {
    margin-top: 30px;
  }

  .navigation-bar {
    display: none;
  }

  #footer {
    display: none;
  }
}

@media print and (min-width: 651px) {
  .mobile-profile {
    display: none;
  }
}

@media print and (max-width: 650px) {
  #pc-bio-profile .bio {
    width: 100%;
    height: auto;
  }

  #pc-bio-profile .bio > div:first-child {
    margin-top: 15px;
  }

  #pc-bio-profile .bio > div {
    margin: 10px 0;
  }

  #pc-bio-profile .profile {
    display: none
  }

  #pc-bio-profile {
    margin-bottom: 0;
  }
}

/******************** Icon font ********************/

/* Special style for arrows */
.iconfont-zuoyou {
  font-family: "iconfont", sans-serif !important;
  font-size: 32px;
  padding: 20px 0;
  color: #BDC0BA;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-zuoyou:active {
  color: #D0104C;
}

/* Normal styles*/
.iconfont {
  font-family: "iconfont", sans-serif !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-donghuayanshi-:before {
  content: "\e62e";
}

.icon-ArXiv:before {
  content: "\e6f4";
}

.icon-ico-finevoice-podcast:before {
  content: "\e6ad";
}

.icon-book4:before {
  content: "\e7e9";
}

.icon-musicfill:before {
  content: "\e795";
}

.icon-outline-profile-circle:before {
  content: "\e681";
}

.icon-youjiantou:before {
  content: "\e64e";
}

.icon-company:before {
  content: "\e659";
}

.icon-you:before {
  content: "\e600";
}

.icon-zuo:before {
  content: "\e601";
}
