/* Default style: Wide screen >= 820px, light theme */

:root {
  --bg-light-gray: #F8F9FA;
  --fg-gray: #91989F;
  --text-color: #212121;
  --border-light-gray: #F5F5F5;
  --muted-text-color: #91989F;
  --link-color: #1772D0;
  --link-hover-color: #D0104C;
  --shadow-soft: rgba(0, 0, 0, 0.04) 0 1px 2px, rgba(0, 0, 0, 0.06) 0 4px 12px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a.link-no-color {
  color: inherit;
  text-decoration: none;
}

a:hover, a.link-no-color:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

html, body {
  margin: 0;
}

body {
  font-family: system-ui, segoe ui, Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px; /* Base font size; 1em = 16px */
  display: flex;
  flex-direction: column;
}

body.bg-light {
  background-color: var(--bg-light-gray);
}

main {
  width: 100%;
  max-width: 820px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 90px
}

@media screen and (max-width: 820px) {
  main {
    margin-top: 70px;
  }
}

/******************** Soft card ********************/

.soft-card {
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: var(--shadow-soft);
  padding: 18px 20px;
}

.soft-card {
  margin: 20px 0;
}

@media screen and (max-width: 820px) {
  .soft-card {
    border-radius: 0;
  }
}

/******************** Header ********************/

header {
  position: fixed;
  top: 0;
  transition: 0.3s;
  overflow: hidden;
  width: 100%;
  background-color: #FFFFFF;
  font-size: 20px;
  z-index: 1;
  box-shadow: var(--shadow-soft);
}

.navigation-bar {
  max-width: 1040px;
  margin: 0 auto;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navigation-bar a {
  text-decoration: none;
  color: #212121;
  padding: 10px 0;
}

.my-name {
  font-weight: bold;
  font-variant: small-caps;
}

.link-collection ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

.link-collection li {
  padding: 0 20px;
  white-space: nowrap;
}

.link-collection li:last-child {
  padding: 0 0 0 20px;
  white-space: nowrap;
}

.link-collection li a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

@media screen and (max-width: 820px) {
  .link-collection {
    display: none;
  }
}

/* Mobile menu button */
.mobile-menu-button {
  cursor: pointer;
}

@media screen and (min-width: 821px) {
  .mobile-menu-button {
    display: none;
  }

  .mobile-overlay {
    opacity: 0;
    height: 0;
  }
}

.menu-button > span {
  width: 25px;
  border-top: 2px solid black;
  margin: 5px 0;
  transition: 0.3s;
  transform-origin: 0 50%;
  display: block;
}

.on-click-menu-button > span {
  width: 25px;
  border-top: 2px solid black;
  margin: 7px 0;
  transition: 0.3s;
  transform-origin: 0 50%;
  display: block;
}

.on-click-menu-button > span:first-child {
  transform: rotate(45deg);
  border-top: 2px solid var(--link-hover-color);
}

.on-click-menu-button > span:nth-child(2) {
  opacity: 0;
  border-top: 2px solid var(--link-hover-color);
}

.on-click-menu-button > span:nth-child(3) {
  transform: rotate(-45deg);
  border-top: 2px solid var(--link-hover-color);
}

/* Mobile menu list */
.mobile-overlay {
  height: 0;
  position: fixed;
  z-index: 1;
  margin-top: 70px;
  right: 20px;
  opacity: 0;
  top: 0;
  background-color: #FFFFFF;
  box-shadow: var(--shadow-soft);
  border-radius: 5px;
  transition: 0.3s;
  overflow-y: hidden;
}

.mobile-overlay-list {
  font-size: 20px;
}

.mobile-overlay-list a {
  text-decoration: none;
  color: var(--text-color);
  display: block;
  padding: 0 24px;
}

.mobile-overlay-list a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

.mobile-overlay-list ul {
  margin: 0;
  padding: 5px;
}

.mobile-overlay-list li {
  display: block;
  border-bottom: 2px solid #E0E0E0;
  padding: 16px 0;
}

.mobile-overlay-list li:last-child {
  border-bottom: none;
}

/******************** Mobile-photo-bio ********************/

.mobile-photo-bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  margin-top: 8px; /* Margin to unify with other soft-cards */
}

.mobile-photo {
  width: fit-content; /* Don't forget the inline width in HTML */
  align-self: center;
  position: relative;
}

#showing-mobile-photo {
  border: 2px solid var(--border-light-gray);
  border-radius: 5px;
  padding: 4px;
  cursor: pointer;
}

.mobile-photo .tag-box {
  position: absolute;
  bottom: 6px;
  right: 6px;
  background: #FFFFFF;
  padding: 6px 0 0 6px;
  border-top-left-radius: 50%;
}

.mobile-photo .tag-item {
  display: block;
  aspect-ratio: 1 / 1;
  border: 1px solid var(--link-color);
  border-radius: 50%;
  padding: 4px;
}

.mobile-photo .tag-item:hover {
  background-color: var(--link-hover-color);
  text-decoration: none;
}

.mobile-photo .tag-item img {
  width: 35px;
}

.mobile-photo img {
  max-width: 100%; /* Don't forget the inline width in HTML */
  border-radius: 2px;
  width: 100%;
  vertical-align: middle;
}

.mobile-bio > div {
  margin: 16px 0;
  text-align: center;
}

@media screen and (min-width: 651px) {
  .mobile-photo-bio {
    display: none;
  }
}

/******************** PC-photo-bio ********************/

.pc-photo-bio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0; /* Margin to unify with other soft-cards */
}

.pc-bio {
  display: flex;
  flex-direction: column;
  height: 185px;
  justify-content: space-between;
}

.pc-photo {
  position: relative;
  max-width: 185px; /* Don't forget the inline width in HTML */
  margin: 0 0 0 80px;
}

#showing-pc-photo {
  padding: 3px;
  border: 2px solid var(--border-light-gray);
  border-radius: 5px;
  cursor: pointer;
}

.pc-photo .tag-box {
  position: absolute;
  bottom: 9px;
  right: 5px;
  background: #FFFFFF;
  padding: 5px 0 0 5px;
  border-top-left-radius: 50%;
}

.pc-photo .tag-item {
  display: block;
  aspect-ratio: 1 / 1;
  border: 1px solid var(--link-color);
  border-radius: 50%;
  padding: 2px 4px;
}

.pc-photo-bio .tag-item:hover {
  background-color: var(--link-hover-color);
  text-decoration: none;
}

.pc-photo-bio .tag-item img {
  width: 30px;
  aspect-ratio: 1 / 1;
}

@media screen and (max-width: 650px) {
  .pc-photo-bio {
    display: none
  }
}

/******************** Text content ********************/

.button-links {
  font-size: 12px;
  padding: 0 4px;
  border: 1px solid;
  border-radius: 6px;
  white-space: nowrap;
}

.button-links:hover {
  color: #FFFFFF;
  background-color: var(--link-hover-color);
  border-color: var(--link-hover-color);
  text-decoration: none;
}

.muted-text-color {
  color: var(--muted-text-color);
}

.best-paper {
  font-style: italic;
  color: #49BF90;
}

.highlight-bg {
  background-color: #FFF4E5;
  border-radius: 8px;
}

/******************** Heading block ********************/

.heading {
  font-size: 24px;
  border-bottom: 2px solid var(--border-light-gray);
  padding: 0 0 8px;
}

.small-muted-text {
  color: var(--muted-text-color);
  font-size: 12px;
}

.paper-entry {
  margin-top: 40px;
}

.bio-list .paper-entry:first-child,
.publications-list .paper-entry:first-child,
.archives-list .paper-entry:first-child {
  margin-top: 20px;
}

.paper-title {
  font-size: 16px;
}

#category-bio ul li {
  margin-bottom: 16px;
}

/******************** Footer ********************/

.footer {
  background-color: var(--border-light-gray);
  margin-top: 40px;
}

.footer .split-line {
  max-width: 100%;
  margin: auto;
  border: 0;
  padding: 1px;
  background: repeating-linear-gradient(to right, lightgrey 0, lightgrey 3px, transparent 0, transparent 8px);
}

.footer-box {
  width: 1040px;
  max-width: 100%;
  margin: auto;
  padding: 10px 0 20px;
  font-size: 12px;
  color: var(--muted-text-color);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-left {
  max-width: 36%;
  margin-left: 20px;
}

.footer-right {
  text-align: right;
  max-width: 36%;
  margin-right: 20px;
}

/******************** Additional mobile layout for small screen ********************/

@media screen and (max-width: 450px) {
  .soft-card {
    padding: 10px 15px;
  }

  .navigation-bar {
    padding: 0 15px;
  }

  .mobile-overlay {
    right: 15px;
  }

  .footer-box {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-left, .footer-right {
    max-width: 75%;
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
  }

  .footer-right {
    margin-top: 30px;
  }
}

@media screen and (max-width: 320px) {
  main, .header, .footer {
    width: 320px;
  }
}

/******************** Print styles ********************/

@media print {
  body {
    background-color: #FFFFFF !important;
  }

  .header {
    display: none;
  }

  main {
    margin-top: 30px;
  }

  .navigation-bar {
    display: none;
  }

  .footer {
    display: none;
  }

  .soft-card {
    box-shadow: none;
    border: none;
  }
}

@media print and (min-width: 651px) {
  .mobile-photo-bio {
    display: none;
  }
}

@media print and (max-width: 650px) {
  .pc-photo-bio {
    display: none
  }
}

/******************** Icon font ********************/

.iconfont {
  font-family: "iconfont", sans-serif !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-donghuayanshi-:before {
  content: "\e62e";
}

.icon-ArXiv:before {
  content: "\e6f4";
}

.icon-ico-finevoice-podcast:before {
  content: "\e6ad";
}

.icon-book4:before {
  content: "\e7e9";
}

.icon-musicfill:before {
  content: "\e795";
}

.icon-outline-profile-circle:before {
  content: "\e681";
}

.icon-youjiantou:before {
  content: "\e64e";
}

.icon-company:before {
  content: "\e659";
}

.icon-you:before {
  content: "\e600";
}

.icon-zuo:before {
  content: "\e601";
}
