a {
    color: #1772d0;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #D0104C;
    text-decoration: none;
}

/*Font family comes from GitHub*/
body,
p,
a {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
    font-size: 16px
}

strong {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

.heading {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
    font-size: 24px;
}

.heading-grey {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: lightgrey;
}

.heading-grey:focus,
.heading-grey:hover {
    color: #D0104C;
    text-decoration: none;
}

.paper-title {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700
}

.my-name {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.layout-level-1 {
    width: 100%;
    max-width: 860px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px
}

.layout-level-2 {
    padding: 20px;
}

#bio-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div #bio-profile .bio {
    width: 68%;
}

div #bio-profile .profile {
    width: 27%;
    padding: 10px 5px 10px 0;
}

.horizontal-scroll {
    white-space: nowrap;
    overflow-x: scroll;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

.paper-list:nth-child(1) {
    margin-top: 40px;
}

.paper-entry {
    margin-top: 40px;
}

@media (max-width: 900px) {
    div #bio-profile .bio {
        width: 100%;
    }

    div #bio-profile .profile {
        display: none
    }
}

@media (max-width: 420px) {
    .layout-level-2 {
        padding: 20px 10px;
    }
}
